.trafficTop {
    background-color: black;
    width: 20px;
    width: 200px;
    }
    
    .trafficBox {
    display: flex;
    align-items: center;
    text-align: center;
    display:inline-block;
    background-color: black;
    height: auto;
    padding: 10px;
    margin-top: 200px;
    border-radius: 15px;
    }
    
    .glow{
        box-shadow: 0px 0px 9px 4px #fcfdbe;
        }
    
    .light {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
    }
    
    .red {
    background-color: red;
    }
    
    .yellow {
    
    background-color: yellow;
    }
    
    .green {
    
    background-color: green;
    }


   
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
